body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkgray;
    position: relative;
    background-image: url(images/montagnes1.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20px;
}

header {
    font-size: 60px;
    padding-bottom: 15px;
    text-align: center;
    background-color: rgba(120, 184, 244, 0.5);
    border: 1px solid lightblue;
    border-width: 5px;
    border-style: double;
    width: fit-content;
    display: block;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    color: dodgerblue;
    border-radius: 10px;
}

p {
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}


footer {
    font-size: 20px;
    padding-top: 100px;
    position: relative;
}

.findepage {
    background-color: rgba(255, 255, 255, 0.5);
    height: 18%;
}

.p1 {
    text-align: center;
    font-size: 20px;
}


.boutonAccueil {
    text-align: center;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
}

.menu {
    padding-bottom: 90px;
}

.logoIMT {
    width: 50%;
    height: auto;
}

.CV {
    width: 27%;
    height: auto;
    padding-top: 20px;
}

.logoConjuGO {
    width: 35%;
    height: auto;
}

.logoTennis{
    width: 20%;
    height: auto;
}